body{background: white!important}
.line{border: 1px solid #db3545;width: 100%;margin: 0}
ul,li{list-style: none;}
.txt-20{font-size: 20px}
.txt-12{font-size: 12px}
.center{margin: 0 auto;display: table}
th p{text-align: center;padding-top: 12px;}
.table>thead>tr>th{text-align: center;padding: 2px 0px!important;padding-top: 8px!important}
tbody > tr:nth-child(even) {background: #fdf1f2;}
tbody > tr:nth-child(odd) {background: white;}
.bg-red{background: #fdf1f2}
.triangle {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.triangle-1 {
  width: 40px;
  height: 40px;
  border-left: solid 40px rgb(200,30,50);
  border-right: solid 40px transparent;
  border-top: solid 40px transparent;
}
.table-detail .row > div:nth-child(1) {
    border-right: 2px solid #db3545;
    background: #fdf1f2;
    padding: 4px 8px;
    margin: 2px 0px;
}
.table-detail .row > div:nth-child(2) {
    padding: 4px 8px;
    margin: 2px 0px;
    background: #fafafa;
}